<h1>Log In</h1>
<form ng-submit="login()">
<div class="formContainer">
<p class="loginForm" ng-class="{disabled:isLoggingIn}">
<span class="error">{{loginError}}</span>
<label>Username:</label>
<input type="text" ng-model="loginCreds.username" required/>

<label>Password:</label>
<input type="password" ng-model="loginCreds.password" required/>

<input ng-disabled="isLoggingIn" type="submit" value="Log In" />
</p>
</div>
</form>
<h1>Sign Up</h1>

<form name="signup_form" ng-submit="signup()">
<div class="formContainer" ng-class="{disabled:isLoggingIn}">
  <div>
    <label>Username:</label>
    <input
      type="text"
      name="username"
      ng-model="signUpCreds.username"
      ng-pattern="/[A-Za-z]/"
      ng-minlength=3 
      ng-maxlength=12
      required
    />

    <label>Password:</label>
    <input
      type="password"
      ng-model="signUpCreds.password"
      name="password"
      ng-minlength=6
      ng-maxlength=30
      required/>

    <label>Confirm Password:</label>
    <input
      type="password"
      name="passwordConfirm"
      ng-model="signUpCreds.passwordConfirm"
      required
    />

    <label>E-Mail:</label>
    <input
      type="email"
      ng-model="signUpCreds.email"
      name="email"
      required
    />
    <label>Confirm E-Mail:</label>
    <input
      type="email"
      ng-model="signUpCreds.emailConfirm"
      name="emailConfirm"
      required
    />
    <button type="submit" ng-disabled="signup_form.$invalid" ng-class="{disabled:signup_form.$invalid}">Submit</button>
  </div>
  <ul ng-show="signup_form.$error">
    <li ng-show="signup_form.username.$dirty && signup_form.username.$error.required">A username is required</li>
    <li ng-show="signup_form.username.$dirty && signup_form.username.$error.minlength">Your username must be at least 3 characters</li>
    <li ng-show="signup_form.username.$dirty && signup_form.username.$error.maxlength">Your username can be no more than 12 characters</li>
    <li ng-show="signup_form.username.$dirty && signup_form.username.$error.pattern">Usernames can only contain alpha characters</li>
    <li ng-show="signup_form.password.$dirty && signup_form.password.$error.minlength">Passwords must be at least six characters</li>
    <li ng-show="signup_form.password.$dirty && signup_form.password.$error.maxlength">Passwords can be no more than 30 characters</li>
    <li ng-show="signup_form.passwordConfirm.$dirty && signup_form.passwordConfirm.$error.isEqual">Passwords do not match</li>
    <li ng-show="signup_form.email.$error.email">E-Mail is not valid</li>
    <li ng-show="signup_form.emailConfirm.$dirty && signup_form.emailConfirm.$error.isEqual">E-Mails do not match</li>
  </ul>
</div>
</form>
